# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variables
*.tfvars
*.tfvars.json

# CLI config
.terraformrc
terraform.rc

# Mac/Linux
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

*.obsidian*

#docs //Temporary
*docs

